.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
    background: #2b2b3d;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.textarea-container {
    background: #2b2b3d;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.canvas-container {
    background: #2b2b3d; 
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#editor {
    background: #1f1f2e;
    border-radius: 6px;
    padding: 0.5rem;
    min-height: 200px;
    overflow-y: auto;
}

.button-container {
    background: #2b2b3d;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}
